.page-header {
  position: fixed;
  width: 100%;
  padding: 0px 15px 0px 15px;
  z-index: 1000;
}

.page-header h1 {
  color: #fff;
}

.page-user-button {
  float: right;
  margin-top: 15px;
}

.page-sider-content-layout {
  margin-top: 64px;
}

.page-sider {
  position: fixed;
  left: 0;
  height: 100vh;
}

.page-content {
  min-height: calc(100vh - 64px);
  transition: all 0.2s;
}
